button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-btn__text);
  transition: transform 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}
