button {
  --transition-time: 0.2s;

  color: var(--color-btn__text);
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  aspect-ratio: 1 / 1;

  box-shadow: none;
  border: none;
  cursor: pointer;

  i {
    transition: transform var(--transition-time) ease-in-out;

    &::before {
      font-size: 1.5rem;
    }
  }

  &:hover {
    i {
      transform: scale(1.5);
    }
  }
}
