button {
  --transition-time: 0.1s;
  color: var(--color-btn__text);
  background-color: transparent;
  height: 100%;
  aspect-ratio: 1 / 1;
  box-shadow: none;
  border: none;
  cursor: pointer;

  i {
    transition: transform var(--transition-time) ease-in-out;
  }

  &:hover {
    i {
      transform: scale(1.3);
    }
  }
}
