.list-item {
  position: relative;
  display: grid;
  grid-template-columns: 60px auto 1fr 40px;
  gap: 10px;

  hr {
    display: none;
    position: absolute;
    top: 50%;
    left: -10px;
    width: calc((100% / 12 * 11) + 20px);
  }

  &--checked {
    hr {
      display: block;
    }
  }
}
