.list {
  background-color: red;
  margin-bottom: 10px;

  &__element {
    display: grid;
    grid-template-columns: 60px 1fr 30px 30px;
    gap: 30px;
    margin: 10px;
  }

  &__multiplier {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    border: none;
    color: black;
  }
}
