.list {
  position: relative;
  padding: 20px;
  max-width: 800px;
  margin: auto;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  li {
    display: grid;
    grid-template-columns: 2fr 2fr 7fr 1fr;
    gap: 10px;
  }

  select,
  option,
  input {
    width: 100%;
    padding: 4px;
    border: 1px solid var(--color-main__border);
    border-radius: 5px;

    &:focus {
      outline: none;
      border-color: var(--color-main__border--focus);
    }
  }

  &__header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    display: inline-block;
    padding: 0;
    margin: 0 auto 0 0;
  }

  &__button {
    height: 40px;
  }
}
