* {
  --nav-height: 80px;

  --color-100: #f4f4f2;
  --color-200: #e8e8e8;
  --color-300: #bbbfca;
  --color-400: #495464;

  --color-main__background: var(--color-100);
  --color-main__text: var(--color-400);
  --color-main__border: var(--color-300);
  --color-main__border--focus: var(--color-400);

  --color-navbar__background: var(--color-200);
  --color-navbar__border: var(--color-400);
}
