.list {
  position: relative;
  padding: 20px;
  max-width: 800px;
  margin: auto;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  li {
    display: grid;
    grid-template-columns: 2fr 2fr 7fr 1fr;
    gap: 10px;
  }

  select,
  option,
  input {
    width: 100%;
    padding: 4px;
    border: 1px solid var(--color-main__border);
    border-radius: 5px;

    &:focus {
      outline: none;
      border-color: var(--color-main__border--focus);
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    margin: 10px;

    position: absolute;
    top: 0;
    right: 0;
  }
}
