* {
  --nav-height: 80px;
  --color-100: #363062;
  --color-200: #435585;
  --color-300: #818fb4;
  --color-400: #f5e8c7;
  --color-background: var(--color-200);
  --color-text: var(--color-400);
  --color-navbar: var(--color-100);
  --color-list-background: var(--color-300); }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: var(--color-text); }

body {
  font-size: 20px;
  scroll-behavior: smooth;
  background-color: var(--color-background); }

.navbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-navbar);
  border-top: 3px solid var(--color-text); }
  .navbar__nav-element {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar__nav-element svg {
      transition: transform 0.2s ease-in-out; }
    .navbar__nav-element:hover {
      cursor: pointer; }
      .navbar__nav-element:hover svg {
        transform: scale(1.5); }

.tabs {
  display: none; }

.list {
  padding: 30px;
  padding-bottom: var(--nav-height);
  width: 100%;
  min-height: 100vh;
  max-width: 600px;
  margin: auto;
  list-style: none;
  background-color: var(--color-list-background);
  display: flex;
  flex-direction: column;
  gap: 10px; }
  .list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 30px; }
    .list__item--done {
      text-decoration: line-through; }
  .list__done-btn {
    border: none;
    transition: transform 0.2s;
    background-color: transparent; }
    .list__done-btn:hover {
      cursor: pointer;
      transform: scale(1.5); }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
