.navbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-navbar__background);
  border-top: 3px solid var(--color-navbar__border);

  &__nav-element {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      svg {
        transform: scale(1.5);
      }
    }
  }
}
