.navbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-navbar);
  border-top: 3px solid var(--color-text);

  &__nav-element {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: var(--color-text);
      color: var(--color-background);
    }
  }
}
