@import "./abstract/_Import";
@import "./basics/_Import";
@import "./components/_Import";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.list {
  padding: 30px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  list-style: none;

  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 30px;
  }
}
