* {
  --primary-color: #363062;
  --secondary-color: #435585;
  --tertiary-color: #818fb4;
  --quaternary-color: #f5e8c7;

  --color-background: var(--secondary-color);
  --color-text: var(--quaternary-color);

  --color-navbar: var(--primary-color);
}
